<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/logn.css">
</head>

<body>
    <div class="sistemaIniciado">
        <h4 class="fa fa-linux fa-5x">Sistema em ação</h4>
        <input type="button" id="logarNovamente" value="Atuaizar pagina">
    </div>

    <div class="containerPrincipal">
        <h2>Sisvcs</h2><span><input type="button" class="btFechar" value="X"></span>

        <fieldset>
            <i class="fa fa-linux fa-5x">
                <h4>Sisvcs</h4>
            </i>
            <i class="fa fa-user fa-2x">
                <input type="search" id="name" name="name" placeholder="Name"></i>
            <br><br>
            <i class="fa fa-keyboard-o fa-2x">
                <input type="password" id="senha" name="senha" placeholder="Senha">

                <input type="button" class="btLogar" value="Go!" onclick="logarNoSistema()"></i>
        </fieldset>

    </div>


    <script src="../src/telaLogin.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" anonymous"></script>

</body>

</html>